* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    border: 5px solid black;
}


.Headersection {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(19, 40, 48);
    color: white;
    padding-top: 20px;   
}

.center ul li {
    list-style: none;
    display: inline-flex;
    margin: 0px 20px;
}

.left {
    flex: 2;
    /* border: 3px solid black; */
}

.center {
    flex: 4;
    

    /* border: 3px solid black; */

}

.search {
    flex: 4;
    
    /* border: 3px solid black; */

}
/* .search input{
    padding: 10px;
    border-radius: 5px;
    width: 20rems;
} */

.right {
    flex: 2;
    /* border: 3px solid black; */
    display:flex;
    justify-content: space-between;
}
.bannersection{
    margin: 10px 0px;
}
.bannerbox img{
    width: 100%;
}
.menimages{
    display: flex;
    gap: 10px;
}
.menimages img{
    width: 220px;
    height: 220px;
}
.womenimages{
    display: flex;
    gap: 10px;
}
.womenimages img{
    width: 220px;
    height: 220px;
}
.ladiesbanner img{
    width: 100%;
}
.imagesection{
    margin: 10px 0px;;
}